*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #bdb8b8;
}

.cont{
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
  width: 30%;
}

h1{
  margin-bottom: 20px;
  text-align: center;
}

.input_cont{
  background-color: #b19f9f;
  padding: 40px 30px;
  border-radius: 5px;
}

.name_cont{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.email_cont{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password_cont{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label{
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 5px;
  color: #3d3d3d;
}

input{
  padding: 14px 12px;
  border-radius: 5px;
  border: none;
}

input:focus{
  outline: 1px solid #0051ff;
  border: 1px solid #0051ff;
}

.sign-in{
  padding: 15px 25px;
  width: 100%;
  margin-top: 10px;
  background-color: #002e92;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.sign-in:hover{
  background-color: #0051ff;
}

.nav{
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
}

.nav:hover{
  color: #fff;
}

p{
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
}

.navigate{
  color: #002e92;
  cursor: pointer;
}

.navigate:hover{
  color: #0051ff;
}

.navigate{
  text-decoration: none;
}

/* StateCard */

.container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.states_list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
}

.states_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  color: #fff;
  border-radius: 10px;
  width: 40%;
  padding: 15px;
  box-shadow: 0 4px 15px #00000026;
  text-align: center;
}

.states_card:hover {
  box-shadow: 0 8px 20px #00000040;
  background-color: #00c500;
}

.state_card p {
  font-size: 0.95rem;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .states_card {
    width: 90%;
    min-height: 280px;
  }
}

@media (max-width: 480px) {
  .states_card {
    width: 100%;
  }
}

h1{
    padding: 20px;
}